*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #443F3F;
  display: grid;
  place-items: center;

}
.App{
  width: 800px;
  height: 488px;
  background-color: #000;
  padding: 24px 34px;
  color: #fff;
  display: flex;
  flex-direction: column;
  


}